.property_name {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
    -fx-background-radius: 30px;
    -fx-text-fill: white;
}

.description_items {
    -fx-background-color: rgba(45, 45, 43, 0.6);
    -fx-text-fill: #ffffff;
}

.description_content {
    -fx-text-fill: #424141;
}

.streetViewButton {
    -fx-pref-width: 160;
    -fx-pref-height: 35;
    -fx-background-color: rgb(243, 86, 90);
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.streetViewButton:hover {
    -fx-pref-width: 160;
    -fx-pref-height: 35;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-radius: 5px;
    -fx-text-fill: rgb(243, 86, 90);
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: rgb(243, 86, 90);;
    -fx-border-radius: 5px;
}